
.card {
  height: 420px;
  background-size: cover !important;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}

.card-category {
text-align: center;
  padding-top: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
}

.card-description {
  padding-left: 40px;
  padding-bottom: 10px;
  text-align: left;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 14px;

  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.skills-img {
  width: 18px;
}
