#home {
  background-color: #f2f2f2;
}

.img-plus-about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#idphoto {
  opacity: 0.9;
  max-height: 80vh;
}

.main-titles {
  margin-top: 120px;
}

.about {
  width: 450px;
  text-align: justify;
  h3 {
    font-size: 25px;
    font-weight: 800;
  }
  p {
    font-size: 16px;
  }
  .highlight-purple {
    color: rgb(133, 77, 255);
    background: rgba(133, 77, 255, 0.1);
    text-decoration: none;
    cursor: pointer;
  }
  .highlight-purple:hover {
    color: white;
    background: rgba(133, 77, 255, 0.3);
  }

  .highlight-green {
    color: rgb(14, 174, 57);
    background: rgba(14, 174, 57, 0.1);
    text-decoration: none;
    cursor: pointer;
  }
  .highlight-green:hover {
    color: white;
    background: rgba(14, 174, 57, 0.3);
  }

  .highlight-red {
    color: rgb(255, 20, 20);
    background: rgba(255, 20, 20, 0.1);
    text-decoration: none;
    cursor: pointer;
  }
  .highlight-red:hover {
    color: white;
    background: rgba(255, 20, 20, 0.3);
  }

  .highlight-orange {
    color: rgb(236, 173, 15);
    background: rgba(236, 173, 15, 0.1);
    text-decoration: none;
    cursor: pointer;
  }
  .highlight-orange:hover {
    color: white;
    background: rgba(236, 173, 15, 0.3);
  }

  .highlight-light-blue {
    color: rgb(17, 214, 240);
    background: rgba(17, 214, 240, 0.1);
    text-decoration: none;
    cursor: pointer;
  }
  .highlight-light-blue:hover {
    color: white;
    background: rgba(17, 214, 240, 0.3);
  }

  .highlight-grey {
    color: rgb(141, 141, 141);
    background: rgba(141, 141, 141, 0.1);
    text-decoration: none;
    cursor: pointer;
  }
  .highlight-grey:hover {
    color: white;
    background: rgba(141, 141, 141, 0.3);
  }
}

.contact-btn {
  margin-top: 30px;
}

.personal-project-title {
  h3 {
    margin-bottom: 25px;
    margin-top: 50px;
  }
}

.personal-project-description {
  p {
    text-align: justify;
  }
}

.personal-project-box {
  margin-top: 20px;
  margin-bottom: 40px;
}

a.link {
  -webkit-box-shadow: inset 0 -8px 0 rgba(250, 219, 51, 0.55);
  box-shadow: inset 0 -8px 0 rgba(250, 219, 51, 0.55);
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  color: rgb(65, 65, 65);
  font-weight: 700;
}

a,
a:focus {
  outline: 0;
  text-decoration: none;
  color: inherit;
}

a.link:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: rgba(250, 219, 51, 0.55);
}

a.white-link {
  -webkit-box-shadow: inset 0 -8px 0 rgba(250, 219, 51, 0.9);
  box-shadow: inset 0 -5px 0 rgba(250, 219, 51, 0.9);
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

a.white-link:hover {
  text-decoration: none;
  color: rgba (0, 0, 0, 0.9) !important;
  background: rgba(250, 219, 51, 0.9);
}

.section {
  text-align: center;
}

.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel-control {
    z-index: 2;
  }
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {
  background: transparent;
}

.item:nth-child(2) {
  background: transparent;
}

.item:nth-child(3) {
  background: transparent;
}

.personal-project {
  p {
    font-size: 16px;
  }
}

.video-pitch-btn {
  margin-top: 25px;
  margin-bottom: 25px;
}
