---
title: Thomas Pouillevet | Full Stack Web Developer
---
<div id="home">
  <div class="navbar-wagon">
    <!-- Logo -->

    <img src="#" alt="logo" style="visibility: hidden; height: 50px;">

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <a href="#about" class="navbar-wagon-item navbar-wagon-link">About</a>
      <a href="#experience" class="navbar-wagon-item navbar-wagon-link">Experience</a>
      <a href="#personal-project" class="navbar-wagon-item navbar-wagon-link">Personal projects</a>
      <a href="#skills" class="navbar-wagon-item navbar-wagon-link">Skills</a>
      <a href="https://github.com/thompouillevet" class="navbar-wagon-item navbar-wagon-link" target="_blank"><i class="fab fa-github" style="font-size: 20px;"></i></a>
      <a href="https://www.linkedin.com/in/thomaspouillevet/" class="navbar-wagon-item navbar-wagon-link" target="_blank""><i class="fab fa-linkedin" style="font-size: 20px;"></i></a>

      <!-- Profile picture with dropdown list -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <img src="#" class="avatar dropdown-toggle" style="visibility: hidden;" id="navbar-wagon-menu" data-toggle="dropdown">
        </div>
      </div>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#about">About</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#personal-project">Personal projects</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="https://github.com/thompouillevet" target="_blank"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/feed/" target="_blank""><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="img-plus-about">

      <div class="img-thom">
        <%= image_tag "idphoto.png", id: "idphoto" %>
      </div>

      <div class="about">
        <h3>Hello, I’m <span>Thomas</span></h3>
        <p>a French guy currently living in Paris, France.<br><br>

        I'm a Fullstack Rails Web Developer and I develop products while being constantly user-driven, from the idea to the market. <br><br>

        Thanks to my Master in IP Law, my Master in Innovation Management (EMLyon Business School) and Le Wagon Coding Bootcamp, I acquired <a href="#tech-skills" class="link">tech skills</a> and <a href="#business-skills" class="link">business & legal skills</a>. <br><br>

        I then worked for <a href="#le-closet" class="link">Le Closet</a>, and learned a lot in a face-paced environment. <br><br>

        I also developed some personal projects, like <a href="#treep" class="link">Treep</a> or <a href="#awesome-suits" class="link">Awesome Suits</a>.<br><br>

        Feel free to connect with me, I'm curious about many things and I usually spend my free time with friends 🍻 or try new apps 🔍, listen to many podcasts 🎧, learn thanks to awesome YouTube channels 📺, travel 🌍 and do via-ferratas 🏔.</p>
        <div class="col-md-8 col-md-offset-2">
          <a href="mailto:thomas.pouillevet@gmail.com?subject=Contact-via-Portfolio" class="btn animated-button thar-three contact-btn">Contact me now 🚀  </a>
        </div>
      </div>
    </div>

    <div  class="section experience" id="experience">
      <h2 class = "main-titles"><i class="fas fa-rocket"></i>Experience</h2>
      <div class="le-closet" id="le-closet">
        <div class="experience-title">
            <h3>Le Closet</h3>
        </div>
        <div  class="closet-img-and-text-container">
          <div  class="closet-img-container col-md-6">
            <div class="row">

              <a href="#" class="pop col-xs-3">
                  <img src="images/lecloset-img-1.png" style="height: 160px; margin: 10px auto;">
              </a>
              <a href="#" class="pop col-xs-3">
                  <img src="images/lecloset-img-2.png" style="height: 160px; margin: 10px auto;">
              </a>
              <a href="#" class="pop col-xs-3">
                  <img src="images/lecloset-img-3.png" style="height: 160px; margin: 10px auto;">
              </a>
              <a href="#" class="pop col-xs-3">
                  <img src="images/lecloset-img-4.png" style="height: 110px; margin: 10px auto;">
              </a>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <img src="" class="imagepreview" style="width: 100%;" >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div  class="closet-text-container col-md-6">
            <div class="experience-description">
              <p>Le Closet is a young startup offering rental of unlimited clothing boxes by subscription. It has more than 7000 customers.<br><br>

                As part of a team of two developers, I realized tasks in backend and frontend as for example:<br><br>
                ✔ Backend: development of new product features, application documentation, test coverage, APIs connections.<br>
                ✔ Frontend: development or improvements of the web pages.<br><br>

                Stack :<br>
                ✔ Backend: Ruby on Rails, Ruby, PostgreSQL.<br>
                ✔ Frontend: HAML, SASS, Javascript.<br>
                ✔ Design: Sketch, Figma.<br>
                ✔ Devops: Heroku, AWS.<br>
                ✔ Continuous Integration : Rspec, CircleCI.<br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>













    <div class="section personal-project" id="personal-project">
      <h2 class = "main-titles"><i class="far fa-thumbs-up"></i>Personal Projects</h2>
      <div class="treep" id="treep">
        <div class="personal-project-title">
          <h3>Treep</h3>
        </div>

        <div class="row personal-project-box">

          <div class="col-md-6">
            <div class="carousel-container">
              <div id="carousel-1" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel" data-slide-to="1"></li>
                  <li data-target="#carousel" data-slide-to="2"></li>
                  <li data-target="#carousel" data-slide-to="3"></li>
                  <li data-target="#carousel" data-slide-to="4"></li>
                  <li data-target="#carousel" data-slide-to="5"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="active item"><img src="/images/treep-Desktop.png" alt=""></div>
                  <div class="item"><img src="/images/treep-value-prop.png" alt=""></div>
                  <div class="item"><img src="/images/treep-dashboard.png" alt=""></div>
                  <div class="item"><img src="/images/treep-show-event.png" alt=""></div>
                  <div class="item"><img src="/images/treep-checkout.png" alt=""></div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#carousel-1" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#carousel-1" data-slide="next">&rsaquo;</a>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <a href="https://youtu.be/_BwJYWpmMr4?t=55m11s" class="btn animated-button thar-three video-pitch-btn" target="_blank">Our pitch in video 🚀  </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="personal-project-description">
              <p>Treep is a tool for travel agencies meant to help them creating trips quickly and easily, visualize the different itineraries and enhance communication with travelers.<br><br>
                Developed in 10 days it is the final project of my training at Le Wagon. I led this project with 3 junior developers<br><br>

                ✔ UX and UI models made on Figma and Sketch<br>
                ✔ Back-end in Ruby on Rails with architecture respecting the MVP convention.<br>
                ✔ Using geocoder, simple_form, currency, cloudinary, faker, pundit, icalendar, carrierwave gems<br>
                ✔ Using the cytoscape.js library to develop our core feature<br>
                ✔ Front-end in HTML, sCSS and JS<br>
                ✔ Project pitched midway and at the end of course in front of a hundred people<br><br>

              Special focus on UX and UI as one of the major challenge of the project was to make the use of our core feature intuitive, without overloading the website.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="awesome-suits" id="awesome-suits">
        <div class="personal-project-title">
          <h3>Awesome Suits</h3>
        </div>

        <div class="row personal-project-box">

          <div class="col-md-6">
            <div class="carousel-container">
              <div id="carousel-2" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel" data-slide-to="1"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="active item"><img src="/images/awesome-Desktop.png" alt=""></div>
                  <div class="item"><img src="/images/awesome-dashboard.png" alt=""></div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#carousel-2" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#carousel-2" data-slide="next">&rsaquo;</a>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="personal-project-description">
              <p>Awesome Suits allows users to create a profile to either offer costumes for rent, or rent costumes for events (wedding, ceremony ...). The geolocation function makes it easy to target the closest costumes..<br><br>
                Developed in 5 days during Le Wagon bootcamp, I led this project with 3 junior developers<br><br>

                ✔ UX and UI models made on Figma and Sketch<br>
                ✔ Back-end in Ruby on Rails with architecture respecting the MVP convention.<br>
                ✔ Using geocoder, simple_form, currency, cloudinary, faker, pundit, icalendar, carrierwave gems<br>
                ✔ Front-end in HTML, sCSS and JS<br>
              ✔ Project pitched midway and after 5 days to have feedbacks.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section skills" id="skills">
      <h2 class = "main-titles"><i class="fas fa-gamepad"></i> Skills</h2>

      <div class="row">

        <div class="col-md-6">
          <div class="card" style="background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1)), url('https://images.unsplash.com/photo-1520583457224-aee11bad5112?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d22936a15c78895fbf7994cea959c7ea&auto=format&fit=crop&w=401&q=80');">
            <div class="card-category" id = "tech-skills">TECH SKILLS</div>
            <div class="card-description">
              <h2>Back end</h2>
              <p>
                <img src="images/ruby.png" class="skills-img"> Ruby,
                <img src="images/rails.png" class="skills-img"> Ruby On Rails,
                APIs,
                <img src="images/sql.png" class="skills-img"> PostgreSQL,
                <img src="images/middleman.png" class="skills-img"> Middleman,
                <img src="images/rspec.png" class="skills-img"> RSpec,
                <img src="images/circleci.png" class="skills-img"> CircleCI
              </p>

              <h2>Front end</h2>
              <p>
                <img src="images/js.png" class="skills-img"> JavaScript,
                <img src="images/html.png" class="skills-img"> Html,
                <img src="images/haml.png" class="skills-img"> Haml,
                <img src="images/css.png" class="skills-img"> CSS,
                <img src="images/sass.png" class="skills-img"> SASS,
                <img src="images/bootstrap.png" class="skills-img"> Bootstrap
              </p>

              <h2>Product Design</h2>
              <p><img src="images/sketch.png" class="skills-img"> Sketch, <img src="images/photoshop.png" class="skills-img"> Adobe Photoshop, <img src="images/figma.png" class="skills-img"> Figma</p>
              <h2>Project Management</h2>
              <p><i class="fab fa-github"></i> Github, <img src="images/trello.png" class="skills-img"> Trello, <img src="images/slack.png" class="skills-img"> Slack, and <img src="images/xmind.png" class="skills-img"> XMind (MindMaps)</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card" style="background-image: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1)), url('https://images.unsplash.com/photo-1525856326341-8adeed4c8b8b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=664eca9d03a5be8e34786a5222862411&auto=format&fit=crop&w=765&q=80');">
            <div class="card-category" id="business-skills">BUSINESS & LEGAL SKILLS</div>
            <div class="card-description">
              <h2>Management</h2>
              <p>Innovation Management, <a href="https://www.pearson.ch/Business/PearsonFrance/EAN/9782744065477/Creer-de-la-valeur--C3-A0-moindre-co-C3-BBt" class="white-link">Innovator Toolkit</a>, C/K Method, <a href="https://philippesilberzahn.com/ouvrages/effectuation/" class="white-link">Effectuation</a>,<br> Lean, SCRUM</p>
              <h2>Marketing</h2>
              <p>Innovation Marketing and Strategy, Exploratory Market Research, Design thinking</p>
              <h2>Intellectual Property Law</h2>
              <p>Trademarks Law, Patent Law, Design Law & Copyrights</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="footer text-center">
    <div class="footer-links">
      <a href="https://github.com/thompouillevet" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/thomaspouillevet/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>

</div>
</div>
